@charset "UTF-8";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$Teal-500: hsl(179, 62%, 43%);
$Green-400: hsl(71, 73%, 54%);
$Teal-100: hsl(204, 43%, 93%);
$Gray-500: hsl(218, 22%, 67%);

body{
    width: 100vw;
    height: 100vh;
    background-color: $Teal-100;
    display: grid;
    place-content: center;
}

#container{
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 8px $Gray-500;
    border-radius: .4rem;
    overflow: hidden;

    @media (min-width: 750px){
        width: 700px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "community community"
                             "subscription container-3";

        .container-community{
            grid-area: community;
        }

        .container-community{
            grid-area: community;
        }

        .container-container-3{
            grid-area: container-3;
        }
    }

    section{
        padding: 1.3rem;

        p{
            color: $Gray-500;
        }
    }
    
    .container-community{
        background-color: white;

        h2{
            color: $Teal-500;
            margin-block-end: 1.3rem;
        }

        span{
            display: block;
            color: $Green-400;
            margin-block-end: 1rem;
        }
    }

    .container-subscription{
        background-color: $Teal-500;

        h2{
            color: $Teal-100;
            margin-block-end: 1.3rem;
        }

        p{
            color: $Teal-100;
        }

        .container-span{
            display: flex;
            align-items: center;
            span{
                &:nth-of-type(1){
                    font-size: 2em;
                    color: white;
                    margin-inline-end: 12px;
                }
            
                &:nth-of-type(2){
                    color: $Teal-100;
                    vertical-align: text-top;
                }
            }

        }

        button{
            width: 100%;
            margin-top: 1.3rem;
            outline-color: transparent;
            border: none;
            border-radius: .4rem;
            padding: 1rem 1.4rem;
            background-color: $Green-400;
            color: white;
            font-size: 1em;
            box-shadow: 0 0 8px $Green-400;
        }
    }
}